{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<h1>Login</h1>

<form id="login-form">
    <div>
        <label for="username">Username</label><br>
        <input
            type="text"
            id="username"
            name="username"
            required
            maxlength="128"
        >
    </div>

    <br>

    <div>
        <label for="password">Password</label><br>
        <input
            type="password"
            id="password"
            name="password"
            required
        >
    </div>

    <br>

    <button type="submit" id="login-btn">
        Login
    </button>
</form>

{% load static %}
<script type="module" src="{% static 'js/accounts/auth.js' %}"></script>

{% endblock content %}