{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ lesson.title }} Edit page
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lessons/styles.css' %}">
{% endblock %}

{% block content %}

<h1>{{ lesson.title }} Edit</h1>

<form 
    id="lesson-edit-form" 
    data-lesson-url="{% url "lessons:lesson-detail" lesson.id %}"
    data-lesson-detail="{% url "lessons:lesson_detail" lesson.id  %}">
    <div>
        <label for="student">Student</label><br>
            <input
                type="text"
                id="student"
                name="student"
                value="{{ student.username }}"
                required
                readonly
            >
    </div>

    <br>

    <div>
        <label>Subject</label><br>
        <select id="subject" name="subject">
            {% for subj in subject %}
                <option value="{{ subj.id }}">{{ subj.subject_name }}</option>
            {% endfor %}
        </select>
    </div>

    <br>

    <div>
        <label for="date">Date</label><br>
        <input
            type="date"
            id="date"
            name="date"
        >
    </div>

    <br>

    <div>
        <label for="start-time">Start time</label><br>
        <input
            type="time"
            id="start-time"
            name="start-time"
        >
    </div>

    <br>

    <div>
        <label for="end-time">End time</label><br>
        <input
            type="time"
            id="end-time"
            name="end-time"
        >
    </div>

    <br>

    <div>
        <label for="lesson-link">Lesson link</label><br>
        <input
            type="url"
            id="lesson-link"
            name="lesson-link"
        >
    </div>

    <br>

    <button type="submit" id="lesson-edit-btn">
        Conrifm changes
    </button>
</form>

{% load static %}
<script type="module" src="{% static 'js/lessons/lesson_edit.js' %}"></script>

{% endblock content %}